.container{
    display: flex;
}

.box{
    height: 300px;
    width: 300px;
    border-radius: 4%;
    margin: 0px;
    font-size: 60px;
}

.box1{
    background-color: red;
    padding: 100px;
}

.box2{
    background-color: skyblue;
}

.box3{
    background-color: yellow;
}

.box4{
    background-color: lightgreen;
}

.box5{
    background-color: orange;
}



@media screen and (min-width: 1440px) {
    .box1{
        background-color: red;
        height: 1600px;
        width: 1600px;
    }
    .box2{
        display: none;
    }
    .box3{
        display: none;
    }
    .box4{
        display: none;
    }
    .box5{
        display: none;
    }
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .box1{
        display: none;
    }
    .box2{
        background-color: skyblue;
        height: 595px;
        width: 1450px;
    }
    .box3{
        display: none;
    }
    .box4{
        display: none;
    }
    .box5{
        display: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        background-color: yellow;
        height: 595px;
        width: 1025px;
    }
    .box4{
        display: none;
    }
    .box5{
        display: none;
    }
}


@media screen and (min-width: 440px) and (max-width: 768px) {
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: none;
    }
    .box4{
        background-color: lightgreen;
        height: 595px;
        width: 770px;
    }
    .box5{
        display: none;
    }
}


@media screen and (max-width: 440px) {
    .box1{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: none;
    }
    .box4{
        display: none;
    }
    .box5{
        background-color: orange;
        height: 595px;
        width: 450px;
    }
}

