*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body{
    background-image: url('Background\ Image.jpg');
    background-size: 1400px 615px; /* Width and Height */
    height: 100%;
    width: 100%;
    font-weight: 500;
    background-attachment: fixed;
}

header{
    display: flex;
    align-content: center;
    margin: 15px;
    padding: 5px;
    margin-bottom: 50px;
}

header div img{
    margin-right: 190px;
    cursor: pointer;
    height: 50px;
    
}

header nav{
    margin-right: 240px;
    margin-top: 10px;
}

header nav a{
    margin: 50px;
    text-decoration: none;
    color: #ffc233;
    font-size: 20px;
    cursor: pointer;
}

header nav a:hover{
    font-weight: 600;
    text-decoration: underline;
}

header button{
    color: white;
    background-color: #ff505f;
    border-color: #ff505f;
    cursor: pointer;
    height: 30px;
    width: 70px;
    font-weight: 700;
    margin-top: 10px;
}

header button:hover{
    font-weight: 900;
    height: 35px;
    width: 80px;
}

main{
    text-align: center;
}

main h1{
    font-size: 70px;
    color: #ffc233;
    font-weight: 900;
    margin-bottom: 30px;
}

main button{
    color: white;
    background-color: #ff505f;
    height: 50px;
    width: 150px;
    font-weight: 700;
    border-color: #ff505f;
}

main button:hover{
    font-weight: 800;
    font-size: 15px;
    height: 50px;
    width: 180px;
    cursor: pointer;
}

footer div img{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 1200px;
    height: 130px;
    width: 150px;
    cursor: pointer;
}
