*{
    margin: 0%;
    padding: 0.4%;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: rgb(16, 15, 15);
    color: aliceblue;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
    margin-bottom: 20px;
}

main{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    height: 400px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    gap: 10px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 55px;
    width: 250px;
    background-color: rgb(6, 6, 6);
    color: aliceblue;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
}

button:hover{
    cursor: pointer;
    height: 60px;
    width: 260px;
    font-size: 20px;
    font-weight: 700;
}
